.app-link {
    text-decoration: none;
}

.app-card {
    padding: 16px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s;
}

.app-card:hover {
    transform: translateY(4px);
}

.app-img {
    width: 316px;
    height: 316px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    border-radius: 48px;
}

.app-title {
    font-size: 20px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
}

.app-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-downloads {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #00D390;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 4px;
    background-color: #F1F5E8;
}

.app-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #FF8811;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 4px;
    background-color: #FFF0E1;
}

.app-rating img,
.app-downloads img {
    width: 20px;
    height: 20px;
}

@media (max-width:500px) {
    .app-card {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 24px;
        margin: 0 16px;
    }

    .app-img {
        width: 150px;
        height: 150px;
        border-radius: 0;
        padding: 0;
        margin: 0;
    }

    .app-div {
        gap: 30px;
    }
}