.all-apps {
    width: 1600px;
    margin: 80px auto;
}

.all-apps-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.all-apps-description {
    text-align: center;
    font-size: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.all-apps-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.all-apps-num {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #001931;
}

.all-apps-search {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    color: #627382;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    outline: none;
}

.all-apps-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.app-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0 80px 0;
}

.app-error {
    text-align: center;
}

.app-error-title {
    margin: 16px 0 8px 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: #001931;
}

.app-error-description {
    font-size: 20px;
    line-height: 32px;
    color: #627382;
    margin-bottom: 16px;
}

.app-error-btn {
    background: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%);
    color: white;
    padding: 16px 42px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.app-error-btn:hover {
    transform: translateY(2px);
}

@media(max-width:500px){
    .all-apps{
        width: 100%;
        margin-top: 48px;
        margin-bottom: 60px;
    }
    .all-apps-title{
        font-size: 32px;
        margin-bottom: 10px;
    }
    .all-apps-description{
        font-size: 16px;
        padding:0 16px;
        line-height: 24px;
        margin-bottom: 28px;
    }
    .all-apps-div{
        padding: 0 16px;
    }
    .all-apps-num{
        font-size: 18px;
    }
    .all-apps-search{
        width: 160px;
    }
    .all-apps-container{
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
    }
    .app-not-found{
        margin: 60px 0;
    }
    .app-error img{
        width: 90%;
    }
    .app-error-title{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 10px;
    }
    .app-error-description{
        font-size: 18px;
        padding: 0 16px;
        line-height: 24px;
    }
}